<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="images/boomheadshot.jpg" alt="" /></a>
            <h1><strong>Mariah</strong> - fullstack developer<br />
            - yoga teacher <br />
            - human</h1>
        </div>
    </header>
    <div id="main">
   

<!-- GOOGLE BOOKS SEARCH   -->
        <section id="one">
            <header class="major">
                <h2>I love to read, use the<br />
            Google Books API to recommend a book to me!</h2>
            </header>
            <p>Type in a title or author to see results, then click recommend to add it to my list.</p>
            <ul class="actions">
                <li>
                    <form method="post">
                    <input action="/search" method="post" type="text" placeholder="Search" name="query" id="apiQuery">
                    <a href="#" id="search"><button>Search</button></a>
                 </form>
                </li>
            </ul>
        </section>

        <h2>Recent Recommendations</h2>
        <div class="row">
            <% recommended.forEach(el => { %>
            <article class="col-6 col-12-xsmall work-item">
                <a href='<%= el.url %>' class="image fit thumb">
                <img src='<%= el.image %>' alt="" class="image fit thumb">
                </a>
            
            <h3 name="title"><%= el.title %></h3>
            
            <h5 name="author"><%= el.author %></h5>
            </article>
            <% }) %>
        </div>

    <h2>Currently Reading</h2>
    <div class="row">
        <% currentlyReading.forEach(el => { %>
        <article class="col-6 col-12-xsmall work-item">
            <a href='<%= el.url %>' class="image fit thumb">
            <img src='<%= el.image %>' alt="" class="image fit thumb">
            </a>
        
        <h3 name="title"><%= el.title %></h3>
        
        <h5 name="author"><%= el.author %></h5>
        </article>
        <% }) %>
    </div>

    <h2>Recently Read</h2>

            <div class="row">
                <% recentlyRead.forEach(el => { %>
                <article class="col-6 col-12-xsmall work-item">
                    <a href='<%= el.url %>' class="image fit thumb">
                    <img src='<%= el.image %>' alt="" class="image fit thumb">
                    </a>
                
                <h3 name="title"><%= el.title %></h3>
                
                <h5 name="author"><%= el.author %></h5>
                </article>
                <% }) %>
            </div>
   
</div>
    

    <script src='js/main.js'></script>

</body>
</html>